@using DataLibrary.Models
@namespace UI.Pages.ProcessAddressComponents

@if (AddressToBeInputModel is not null && AddressToBeInputModel.GroundRentPaymentFrequency == AddressModel.PaymentFrequency.Annual)
{
	<div class="col gy-3" style="max-width: fit-content;">
		<MudText Typo="Typo.caption">Please select a date:</MudText>
		<MudDatePicker Variant="Variant.Filled" Label="Annual Date" @bind-Date="AddressToBeInputModel.PaymentDateAnnual"
				   For="@(() => AddressToBeInputModel.PaymentDateAnnual)" Required />
	</div>
}

@if (AddressToBeInputModel is not null && AddressToBeInputModel.GroundRentPaymentFrequency == AddressModel.PaymentFrequency.SemiAnnual)
{
	<div class="col gy-3" style="max-width: fit-content;">
		<MudText Typo="Typo.caption">Please select a date:</MudText>
		<MudDatePicker @bind-Date="AddressToBeInputModel.PaymentDateSemiAnnual1" Label="Semi-Annual 1 Date" Variant="Variant.Filled" For="@(() => AddressToBeInputModel.PaymentDateSemiAnnual1)" Required />
	</div>
	<div class="col gy-3" style="max-width: fit-content;">
		<MudText Typo="Typo.caption">Please select a date:</MudText>
		<MudDatePicker @bind-Date="AddressToBeInputModel.PaymentDateSemiAnnual2" Label="Semi-Annual 2 Date" Variant="Variant.Filled" For="@(() => AddressToBeInputModel.PaymentDateSemiAnnual2)" Required />
	</div>
}

@if (AddressToBeInputModel is not null && AddressToBeInputModel.GroundRentPaymentFrequency == AddressModel.PaymentFrequency.Quarterly)
{
	<div class="col gy-3" style="max-width: fit-content;">
		<MudText Typo="Typo.caption">Please select a date:</MudText>
		<MudDatePicker @bind-Date="AddressToBeInputModel.PaymentDateQuarterly1" Variant="Variant.Filled" Label="Quarterly 1 Date" For="@(() => AddressToBeInputModel.PaymentDateQuarterly1)" Required />
	</div>
	<div class="col gy-3" style="max-width: fit-content;">
		<MudText Typo="Typo.caption">Please select a date:</MudText>
		<MudDatePicker @bind-Date="AddressToBeInputModel.PaymentDateQuarterly2" Variant="Variant.Filled" Label="Quarterly 2 Date" For="@(() => AddressToBeInputModel.PaymentDateQuarterly2)" Required />
	</div>
	<div class="col gy-3" style="max-width: fit-content;">
		<MudText Typo="Typo.caption">Please select a date:</MudText>
		<MudDatePicker @bind-Date="AddressToBeInputModel.PaymentDateQuarterly3" Variant="Variant.Filled" Label="Quarterly 3 Date" For="@(() => AddressToBeInputModel.PaymentDateQuarterly3)" Required />
	</div>
	<div class="col gy-3" style="max-width: fit-content;">
		<MudText Typo="Typo.caption">Please select a date:</MudText>
		<MudDatePicker @bind-Date="AddressToBeInputModel.PaymentDateQuarterly4" Variant="Variant.Filled" Label="Quarterly 4 Date" For="@(() => AddressToBeInputModel.PaymentDateQuarterly4)" Required />
	</div>
}

@if (AddressToBeInputModel is not null && AddressToBeInputModel.GroundRentPaymentFrequency == AddressModel.PaymentFrequency.Other)
{
	<div class="col gy-3" style="max-width: 15em;">
		<label>Other Date</label>
		<MudInputString Variant="Variant.Filled" @bind-Value="AddressToBeInputModel.PaymentDateOther" For="@(() => AddressToBeInputModel.PaymentDateOther)" Required />
	</div>
}

@code {
	[CascadingParameter]
	public AddressModel? AddressToBeInputModel { get; set; }
}
