@using DataLibrary.Models
@namespace UI.Pages.ProcessAddressComponents

<div class="col gy-3">
	<label>Payment Frequency</label>
	@if (AddressToBeInputModel is not null)
	{
		<MudSelect Variant="Variant.Filled" @bind-Value="AddressToBeInputModel.GroundRentPaymentFrequency"
			   Style="max-width: fit-content;" Required>
			<MudSelectItem Value="@AddressModel.PaymentFrequency.Blank"></MudSelectItem>
			<MudSelectItem Value="@AddressModel.PaymentFrequency.Annual">Annual</MudSelectItem>
			<MudSelectItem Value="@AddressModel.PaymentFrequency.SemiAnnual">Semi-Annual</MudSelectItem>
			<MudSelectItem Value="@AddressModel.PaymentFrequency.Quarterly">Quarterly</MudSelectItem>
			<MudSelectItem Value="@AddressModel.PaymentFrequency.Other">Other</MudSelectItem>
		</MudSelect>
	}
</div>

<CascadingValue Value="AddressToBeInputModel">
	<DisplayDatesFrequency />
</CascadingValue>

@code {
	[CascadingParameter]
	public AddressModel? AddressToBeInputModel { get; set; }

	protected override void OnInitialized()
	{
		if (AddressToBeInputModel is not null)
		{
			AddressToBeInputModel.GroundRentPaymentFrequency = AddressModel.PaymentFrequency.Blank;
		}
		base.OnInitialized();
	}	
}
